<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form th:action="@{/login}" th:object="${user}" method="post" class="login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="row">
        <div class="col s12">
            <input th:field="*{username}" placeholder="username"/>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <input type="password" th:field="*{password}" placeholder="password"/>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
</form>
</body>
</html>